<p id="notice"><%= notice %></p>

<h1>Listing Tweets</h1>
<%= search_form_for @search do |f| %>
  <%= f.label :body_start, '本文' %>
  <%= f.text_field :body_start %>
  <div>
    <%= f.submit '検索する' %>
  </div>
<% end %>
<!-- <table>
  <thead>
    <tr>
      <th>Body</th>
      <th>Userid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.body %></td>
        <td><%= tweet.userid %></td>
        <td><%= link_to 'Show', tweet %></td>
        <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
        <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->



<% @tweets.each do |post| %>
<div style="background-color: #99cc00; margin:20px;">
  <%= post.body %>
  <%= p post.userid %>
</div>
<% end %>
<br>

<%= link_to 'New Tweet', new_tweet_path %>
